.App{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0;
  padding: 0;
  background-color: rgb(206, 201, 61);
}

.header{
  color: white;
  font-size: 60px;
  padding-bottom: 30px;
}
.body{
  position: relative;
  display: flex;
  justify-content: center;
}

.box{
  width: 400px;
  height: 600px;
  margin-top: 70px;
  position: relative;
  border: 5px solid white;
  border-radius: 10px;
}

.countDisplay{
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  border-radius: 10px;
  font-size: 50px;
  color: white;
}
.buttonGroup{
  position: relative;
  margin-top: 20%;
  display: flex;
  justify-content: space-around;
}
button{
  font-size: 30px;
  padding: 10px;
  background-color: rgb(255, 252, 168);
  border: none;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(117, 117, 24);
  transition: 0.5s;
  color: white;
}